section
{
    padding: 20px;
    width: 100%;
    background-color: #cf2b2b;
}



/* Styling for breadcrumb */
.breadcrumb {
    padding: 20px 0 20px 0;
    background: #e14343;
    border-bottom: 1px solid #cf2b2b;
    margin-bottom: 40px;
}
  .breadcrumb a 
  {
    text-decoration: none;
    color: #ff6f6f;
  }
  
  .breadcrumb a:hover 
  {
    color:black;
  }
  